body {
  font-family: 'Arial', sans-serif;
  background-color: white !important;
  height: 100vh;
  margin: 0;
}

main {

  background-color: white !important;

}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.header-custom {
  background-color: #46ec5f;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  height: 4rem;
}

.offcanvas-item {
  padding: 10px 15px;
  border: 1px solid #ddd;
  /* Borde gris claro */
  border-radius: 5px;
  margin: 5px 0;
  /* Espaciado entre los items */
}

.input-group.date {
  cursor: pointer;
}

.input-group.date:before {
  content: "\f133";
  font-family: FontAwesome;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.footer-custom {
  background-color: #f8f9fa;
  /* Fondo claro */
  color: #6c757d;
  /* Texto en gris */
  border-top: 1px solid #dee2e6;
  /* Línea superior */
}

.footer-custom a {
  color: #000;
  /* Color del enlace (negro por defecto) */
  text-decoration: none;
  /* Sin subrayado */
}

.footer-custom a:hover {
  color: #007bff;
  /* Cambia a azul al pasar el ratón */
}

.footer-custom i {
  vertical-align: middle;
  /* Alinea el ícono con el texto */
}

/* Centra solo si no hay sidebar activo */
main.col-md-9:not(.with-sidebar),
main.col-lg-10:not(.with-sidebar) {
  margin: auto;
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  min-height: 100vh;
  /* Ocupa la altura completa de la ventana */
}

/* Si hay sidebar activo, aseguramos diseño normal */
main.col-md-9.with-sidebar,
main.col-lg-10.with-sidebar {
  margin-left: auto;
  /* Margen automático para ajustar */
  margin-right: auto;
  /* Margen automático para ajustar */
  display: block;
  /* Volvemos al flujo normal */
  min-height: auto;
  /* Altura según el contenido */
}

/* Ocultar cualquier overlay oscuro si el sidebar no está activo */
#sidebar.collapse:not(.show) {
  display: none;
}

.btn-sm-custom {
  width:150px
  /* Tamaño de fuente más pequeño */
}