{% extends "base.html" %} {% block title %}Home - Finanzio{% endblock %} {%
block content %}
<div class="d-flex justify-content-between align-items-center mt-3 mb-4">
  <h1 class="m-0">Mis ingresos y gastos</h1>
  <div>
    <button
      class="btn btn-success me-2"
      data-bs-toggle="modal"
      data-bs-target="#modalIngresos"
    >
      Agregar Ingresos
    </button>
    <button
      class="btn btn-danger"
      data-bs-toggle="modal"
      data-bs-target="#modalGastos"
    >
      Agregar Gastos
    </button>
  </div>
</div>
<!-- Contenido principal -->
<div class="container mt-5">
  <h3>Ultimos ingresos del mes</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Monto</th>
        <th>Descripción</th>
      </tr>
    </thead>
    <tbody>
      {% for ingreso in ingresos %}
      <tr>
        <td>{{ ingreso.fecha_ingreso.strftime('%d/%m/%Y') }}</td>
        <td>{{ ingreso.monto }}</td>
        <td>{{ ingreso.descripcion }}</td>
      </tr>
      {% else %}
      <tr>
        <td colspan="3" class="text-center">
          No hay ingresos registrados para este mes.
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <nav aria-label="Page navigation">{{ pagination.links }}</nav>
</div>
<!-- Puedes agregar aquí gráficos, reportes, etc. -->

{% include "modals.html" %} {% endblock %}
